body, html{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Playfair Display', 'Slabo 27px', serif;
}

.container {
  background-color: white;
}

.nav-header {
  position: relative;
  height: 100vh;
  background-image: url("../images/space-mountain-min.jpg");

  color: white;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

nav {
  display: flex;
  flex-direction: column;

}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.nav-items a{
  width: 90%;
  height: 2em;
  margin: .5em;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
}
.nav-logo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-btn {

  color: white;
  width: 3em;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: .7em;
  margin-right: 1em;
  border: 1px solid white;
}

.nav-btn:hover {
  cursor: pointer;
}

.intro {
  font-size: 4em;
  text-align: center;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

section {
  height: 50vh;
}

.nav-logo {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 700px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-btn {
    display: none;

  }
  .nav-items {
    flex-direction: row;
    border-bottom: none;
    display: flex !important;
  }
}
