body, html{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Playfair Display', 'Slabo 27px', serif;
}

.container {
  background-color: white;
  justify-content: center;
}

.nav-header {
  position: relative;
  height: 100vh;
  background-image: url("../images/space-mountain-min.jpg");
  color: white;
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 100%;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 1100px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav-items a{
  width: 90%;
  height: 2em;
  padding: 1em 0;
  margin: 0 1em;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  align-self: center;


}
.nav-logo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-btn {

  color: white;
  width: 3em;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding: .7em;
  margin-right: 1em;
  border: 1px solid white;
}

.nav-btn:hover {
  cursor: pointer;
}

.intro {
  font-size: 4em;
  text-align: center;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -1em;

}
 section {

 }

.nav-logo {
  height: 100px;
  width: 100px;
  margin-left: 1em;
}

.parallax-section {
  height: 50vh;
  background-color: black;
  color: white;
  position: relative;
  background-size: auto 100%;

}

.parallax-section p{
  font-size: 3em;
  text-align: center;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  overflow: hidden;
}

#about {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p{
  max-width: 1100px;
  text-align: left;
}

.main-container {
  padding: 2em 0;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
}

.portfolio-item {
  margin: 2em;
}
.portfolio-item img{
  height: 17em;
  width: 17em;
}
.portfolio-item {

}

@media screen and (min-width: 770px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-btn {
    display: none;

  }
  .nav-items {
    flex-direction: row;
    border-bottom: none;
    display: flex !important;
  }
  .nav-items a{
    padding: 0;
  }

  .nav-items a:hover{
    border-bottom: 1px solid #ff9966;
  }

  .nav-header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
