body, html{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Playfair Display', 'Slabo 27px', serif;

}

.container {
  background-color: white;
}

.nav-header {
  position: relative;
  height: 100vh;
  border-bottom: 1px solid black;

}

nav {
  display: flex;
  flex-direction: column;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.nav-items a{
  height: 2em;
  margin: .5em;
  text-decoration: none;
  color: black;
}
.nav-logo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-btn:hover {
  cursor: pointer;
}

.intro {
  font-size: 4em;
  text-align: center;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

section {

  height: 50vh;
}

.nav-logo {
  height: 100px;
  width: 100px;
}
